<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E0DA69E1C3932F800BB2E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E0DA6BA1C3932F800BB2E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E0DA6C51C3932F800BB2E2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
